header {
        background-color: #01426d;
        color: white;
        text-align: center;
        padding: 20px;
        font-family: Arial, sans-serif;
        font-size: 18px;
        font-weight: bold;
    }